hr{
  border-color: $gray-light;
}

h1, h2, h3 {
  font-family: $font-family-sans-serif;
}

main {
  background-color: inherit;
}

blockquote {
  font-style: italic;
  border-left: 6px solid $gray-light;
  padding-left: 1em;
}

.first{
  padding-left: 0;
}

.relative {
	position: relative;
}

.logged-in .navbar-fixed-top{
  top: 32px;
}

#inner-content{
  position: relative;
}

.header-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;

  img {
    background-color: $p2pu-light-blue;
    object-fit: cover;
    width: 100%;
    min-height: 500px;
    height: 60vh;
    clip-path: polygon(0 65%, 50% 100%, 100% 65%, 100% 0, 0 0);
  }
}

.post{
  font-size: 18px;
  line-height: 1.8;
}

article.single-post {
  margin-top: 25vh;

  .card-body {
    padding: 2.25em;
  }

  .entry-content {
    h1, h2, h3 {
      margin-top: 1.25em;
      margin-bottom: 0.75em;
      line-height: 1.25;
    }

    .wp-block-image {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .badge {
    a {
      color: $white;
      font-weight: normal;

      &:hover, &:focus {
        color: $white;
      }
    }
  }
}

#post-not-found, .archive-title{
  padding-top: 120px;
}

.home .sidebar{
  padding-top: 10px;
}
.home .widget{
  padding-top: 0 !important;
}

.sidebar{

  padding-top: 40px;

  .widget{
    padding-top: 15px;
  }

  .widget_archive, .sidebar .widget_categories {
    padding-bottom: 20px;
    margin: 14px 0 25px 0;
    border-bottom: 1px solid $gray;
  }

  .widget_archive{
    label{
      display: none;
    }

    select{
      border-color: $gray-light;
      background-color: white;
      padding: 0.3em;
      font-size: 0.9em;
      line-height: 1.2;
    }
  }

  .widget_categories, .widget_meta{

    ul{
      list-style-type: none;
      padding-left: 0;

      li{
        position: relative;
        padding-left: 15px;
        line-height: 1.8;

        &:before{
          font-family: 'FontAwesome';
          content: "\f105";
          position: absolute;
          padding: 0;
          left: 0;
          top: 0;
        }

        a{
          &:hover, &:visited{
            text-decoration: none;
            border-bottom: 1px dotted $primary;
          }
        }
      }

    }
  }
  .widget_categories li:before, .widget_categories a{
    color: $primary;
  }
}

.sharedaddy{
  margin-top: 20px !important;

  .sd-title{
    padding-top: 20px;
  }
}

.sharing-anchor.sd-button.share-more{
  @extend .hide !optional;
}

.sharing-hidden .inner{
  @extend .show !optional;

  position: relative !important;
  top: -45px !important;
  border: none !important;
  box-shadow: none !important;
  max-width: 100% !important;

  &:before{
    content: none !important;
  }
}

.wp-caption-text, figcaption {
	font-size: 0.85em;
}

.aligncenter{
	text-align: center;
}

[id^="attachment"], .wp-caption{
	margin: 2em auto;
}

.byline {
  a {
    color: inherit;
  }
}


@media (min-width: 1200px) {
  .single-post {
    .container {
      max-width: 960px;
    }
  }
}



//----------------------------

#wpstats{
  display: none;
  visibility: hidden;
}