.header{
  &.affix{
    width: 100%;
    top: 108px;
    left: 0;
    background-color: $white;
    z-index: 5;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      left: 0;
      top: 98px;
    }

    .container-strech{
      @extend .container;
    }
  }
}

#searchform{
  position: relative;

  input{
    font: 13px/1.6 'Open Sans', sans-serif;
    color: $gray-dark;
    padding: 6px 40px 6px 6px;
    width: 100%;
    border: 1px solid $gray;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    outline: 0;
    margin: 0;
    background: $white;
  }

  button{
    position: absolute;
    top: 1px;
    right: 1px;
    border: 0;
    background: white;
    font-size: 1.4em;
    line-height: 1;
    height: 93%;
  }

}

#main{
  .entry-content{
    padding: 20px 0;

    img{
      max-width: 100%;
      height: auto;
    }

    .blog-img{
      display: block;
      padding-top: 10px;
    }

  }
}

.pagination{

  display: block;
  text-align: center;

  .btn.btn-success{
    a{
      color: $white;
    }
  }
}




